*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: linear-gradient(
        rgba(110, 88, 88, 0.5),
        rgba(59, 48, 48, 0.4)
    ), url("https://miro.medium.com/max/800/1*tpoag9XbXcxGxuxBM56OzA.jpeg");
    background-size: cover;

}
a, a:hover{
  text-decoration: none;
}

ul{
  list-style: none;
}


li {
  display: inline-block;
}

section{
 width: 100%;
 height: 100vh;
 position: relative;
 
}

.header{
  width: 100%;
  background-color: transparent;
}

.header .nav-bar{
   width: 90%;
   height: 80px;
   line-height: 80px;
   margin: auto;
   color: #fff;
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #fff;
 }

 .header .nav-bar .logo{
  z-index: 2;
}

.header .nav-bar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.header .nav-bar .menu{
  z-index: 2;
}

.header .nav-bar .menu ul li{
  margin-right: 30px;
}

.header .nav-bar .menu ul li a{
   font-size: 18px;
   font-weight: 500;
   Letter-spacing: 2px;
   padding: 10px;
   border-radius: 5px;
   text-transform: capitalize;
   transition: all 0.5s;
   opacity: 0.8;
   color: #fff;
}

.header .nav-bar .menu ul li a.active {
  opacity: 1;
  background-color: #fff;
  color: #000;
}

.header .nav-bar .menu ul li a:hover{
 opacity: 1;
 background-color: #fff;
 color: #000;
 }

 .header .nav-bar .social-media{
 z-index: 2;
}
.header .nav-bar .social-media ul li i{
 width: 45px;
 height: 45px;
  Line-height: 45px;
 margin-right: 5px;
 text-align: center;
 align-items: center;
 font-size: 19px;
 border-radius: 5px;
                                                 I
 background-color: #cac5c542;
 box-shadow: 0 0 25px rgba(24,24,24,.4);
 transition: all 0.3s;
}

main{
  width: 100%;
}


.form{
  background: linear-gradient( 115deg, rgba(0, 25, 82, 0.8), rgba(32, 4, 64, 0.7));
  margin: 0 auto;
  width: 40%;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 50px 0 20px 0;
}
#title{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}
#description{
  font-style: italic;
  padding: 5px;
}
#survey-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;
  width: 50%;
}
.uno{
  padding: 10px;
}
#name, #email, #number, #dropdown, #submit{
  width: 80%;
  height: 40px;
  font-size: 1rem;
  border: transparent;
  border-radius: 5px;
  padding-left: 5px;
}
.para{
    margin-left: 13%;
    width: 75%;
}
.btn-success{
    margin-left: 42%;
    margin-top: 2%;
    cursor: pointer;
}

.check{
  display: flex;
  flex-direction: column;
  
}

#message{
  width: 80%;
  height: 100px;
  font-size: 1rem;
  border: transparent;
  border-radius: 5px;
  padding-left: 5px;
}
.submit{
  margin: 20px;
}