@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,500&family=Pacifico&family=Satisfy&display=swap');
*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
video {
	position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

a, a:hover{
	text-decoration: none;
}

ul{
	list-style: none;
}


li {
	display: inline-block;
}

section{
 width: 100%;
 height: 100vh;
 position: relative;
 
}

.header{
	width: 100%;
	background-color: transparent;
}

.header .nav-bar{
	 width: 90%;
	 height: 80px;
	 line-height: 80px;
	 margin: auto;
	 color: #fff;
	 display: flex;
	 justify-content: space-between;
	 border-bottom: 2px solid #fff;
 }

 .header .nav-bar .logo{
 	z-index: 2;
}

.header .nav-bar .logo a{
	color: #fff;
 	font-size: 30px;
 	font-weight: 700;
 	text-transform: uppercase;
}

.header .nav-bar .menu{
 	z-index: 2;
}

.header .nav-bar .menu ul li{
 	margin-right: 30px;
}

.header .nav-bar .menu ul li a{
	 font-size: 18px;
	 font-weight: 500;
	 Letter-spacing: 2px;
	 padding: 10px;
	 border-radius: 5px;
	 text-transform: capitalize;
	 transition: all 0.5s;
	 opacity: 0.8;
	 color: #fff;
}

.header .nav-bar .menu ul li a.active {
	opacity: 1;
	background-color: #fff;
	color: #000;
}

.header .nav-bar .menu ul li a:hover{
 opacity: 1;
 background-color: #fff;
 color: #000;
 }

.header .nav-bar .social-media{
 z-index: 2;
}
.header .nav-bar .social-media ul li i{
 width: 45px;
 height: 45px;
  Line-height: 45px;
 margin-right: 5px;
 text-align: center;
 align-items: center;
 font-size: 19px;
 border-radius: 5px;
                                                 I
 background-color: #cac5c542;
 box-shadow: 0 0 25px rgba(24,24,24,.4);
 transition: all 0.3s;
}

 section .hero-sec{
 	width: 100%;
}

section .hero-sec .overlay{
	 position: absolute;
	  top: 0;
	  Left: 0;
	 right: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100vh;
	 background-color: rgba(0,0,0,0.5);
	 z-index: 1;
}
section .hero-sec .caption{
	 position: absolute;
	  top: 50%;
	  Left: 50%;
	  transform: translate(-50%, -50%);
	  text-align: center;
	  color: #fff;
 }

 section .hero-sec .caption h3{
	 color: #fff;
	 font-size: 55px;
	 text-transform: uppercase;
	  Letter-spacing: 2px;
	 margin-bottom: 20px;
}
section .hero-sec .caption a{
	color: #fff;
	text-decoration: none;
	 font-size: 17px;
	  Letter-spacing: 1px;
	 border-radius: 5px;
	 font-weight: 600;
	  Line-height: 95px;
	 padding: 15px 25px;
	 text-transform: uppercase;
	 border: 1px solid #fff;
	 margin-right: 15px;
	 box-shadow: 0 0 25px rgba(24,24,24, 0.9);
	  transition: all 0.3s;
}

section .hero-sec .caption a:hover{
 background-color: #fff;
  color: #000;
}
section .hero-sec .caption a:first-child{
 background-color: #fff;
  color: #000;
}

section .hero-sec .caption .description{
 margin: 25px 0;
  Letter-spacing: 1px;
 font-weight: 400;
 font-size: 18px;
  Line-height: 30px;
 ]